* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html, 
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}
.parent {
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  /*margin: 20px;*/
  border-radius: 10px;
  background-color: #222;
}
.card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid white;
}
.card p {
  margin: 10px 0;
}
.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}