* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;
}

/* Full height layout */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* This pushes footer down */
.main-content {
  flex: 1;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(10, 117, 146);
}

.nav div {
  display: flex;
  align-items: center;
  gap: 40px;
  /* background-color: pink; */
}

.footer {
  background-color: rgb(10, 117, 146);
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer-left h3 {
  margin-bottom: 5px;
}

.footer-left p {
  font-size: 14px;
  opacity: 0.9;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
}
