* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  margin: 5px;
  font-size: 50px;
}

button,
input {
  padding: 10px 20px;
  margin: 5px;
}